:root {
    --bg: #ffffff;
    --text: #292929;
    --empty: #2d2d2d;
    /* Colores GitHub */
    --lived: #39d353;
    --accent: #26a641;
    --border: rgba(255, 255, 255, 0.05);
}

body {
    background: var(--bg);
    color: var(--text);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #30363d;

}

#header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}

.back-btn {
    width: 45px;
    height: 45px;
    background: #e7e7e7;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.back-btn img {
    width: 60%;
}

.back-btn:hover {
    transform: scale(1.1) rotate(-20deg);
}

#setup-screen {
    margin-top: 10vh;
    text-align: center;
}

#two-container {
    display: flex;
    align-items: center;
}

input[type="date"] {
    background: #eeeeee;
    color: rgb(35, 35, 35);
    border: 1px solid #30363d;
    border-radius: 6px;
    font-size: 1rem;
    margin: 20px;
    height: 60px;
    padding: 0px 30px;
}

#life-grid {
    display: grid;
    grid-template-columns: repeat(52, 1fr);
    gap: 3px;
    margin: 40px 0;
    padding: 20px;
}

.block {
    width: 11px;
    height: 11px;
    background: var(--empty);
    border-radius: 2px;
    border: 1px solid var(--border);
}

.block.lived {
    background: var(--lived);
    border: none;
}

#impact-panel {
    max-width: 800px;
    width: 90%;
    padding-bottom: 100px;
}

.stats-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-bottom: 60px;
}

.stat-card {
    background: #161b22;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #30363d;
    text-align: center;
}

.stat-card .value {
    display: block;
    font-size: 3rem;
    font-weight: 800;
    color: var(--lived);
}

.deep-message {
    border-left: 4px solid #ff3e3e;
    padding-left: 30px;
    line-height: 1.8;
}

.deep-message h2 {
    color: #ff3e3e;
    letter-spacing: 2px;
}

.comparison-list p {
    margin: 15px 0;
    color: #8b949e;
}

.final-quote {
    font-style: italic;
    font-size: 1.4rem;
    margin-top: 40px;
    color: white;
    border-top: 1px solid #30363d;
    padding-top: 20px;
}

.hidden {
    display: none !important;
}

button {
    background: #238636;
    color: white;
    border: 2px solid rgba(240, 246, 252, 0.1);
    padding: 0px 20px;
    cursor: pointer;
    border-radius: 6px;
    font-weight: 600;
    height: 60px;
}

button:hover {
    background: #2ea043;
}